/* ::::: primary ::::: */

:root {
  --color-primary: #000;
  --color-secondary: #f8fbff;
  --color-accent: #0b57cf;
  --page-background: #e1f1ff;
  --page-header-color: #06214a;
  --page-text-color: #000;
  --page-font: "Overpass", "Red Hat Display", "Helvetica", "Segoe UI", "Roboto", sans-serif;
  --max-distance: 62.5rem;
}

html {
  font-family: var(--page-font);
  background: var(--page-background);
  color: var(--page-text-color);
  scroll-behavior: smooth;
}

@keyframes slide {
  from {
    opacity: 0;
    transform: scale(0) translateY(-500px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

body {
  margin: 0;
}

a {
  color: var(--color-accent);
  text-decoration: none;
  font-weight: 600;
}

a:focus,
a:hover {
  color: var(--color-primary);
  text-decoration: underline;
}

hr {
  border: 1px solid var(--color-primary);
}

h1, h2, h3, h4 {
  color: var(--page-header-color);
  text-transform: uppercase;
  margin: 0.5em 0;
}

h1 {
  font-weight: 900;
}

span.title {
  text-transform: uppercase;
  font-size: 3em;
  font-weight: 900;
}

span.subtitle {
  text-transform: uppercase;
  font-size: 1.3em;
  font-weight: 700;
  margin-bottom: 0.5em;
}

.image {
  margin: 0.5em;
}

.fw-bold {
  font-weight: bold;
}

.mono {
  font-family: monospace;
}

.separator {
  height: 2px;
  background-color: rgba(0, 0, 0, 0.1);
  margin: 2em 0;
}

.separator-inline {
  margin: 2em 0;
}

/* ::::: Content: Box Layout ::::: */

.content-layout {
  position: relative;
  margin: auto;
  padding: 10px;
  max-width: var(--max-distance);
}

.content-layout.center {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.bg.wb {
  border: 1px solid var(--color-primary);
  background-color: var(--color-accent);
  border-radius: 0.5em;
}

.bg.cl1 {
  background: var(--color-secondary);
  color: #06214a;
  margin: 1em;
}

@keyframes cl2-gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
}

.bg.cl2 {
  background: linear-gradient(270deg, #d9f0ff, #87d4ef, #74d1ff, #d9f0ff);
  background-size: 800% 800%;
  background-attachment: fixed;
  border-radius: 24px;
  margin: 10px;
  animation: cl2-gradient 30s ease infinite;
}

.bg.cl2 > .full {
  height: calc(100vh - 40px);
}

.full {
  height: 100vh;
}

/* ::::: buttons ::::: */

.button {
  display: block;
  border: 1px solid var(--color-primary);
  background-color: var(--color-accent);
  text-decoration: none;
  padding: 0.5em;
  border-radius: 0.5em;
}

.button:hover:not(:focus) {
  text-decoration: underline;
}

.button:focus {
  background-color: var(--color-primary);
  color: var(--color-accent);
}

/* ::::: action buttons ::::: */

.action-button {
  display: flex;
  align-items: center;
  flex-direction: row;
  color: inherit;
  text-decoration: none;
  border-bottom-style: none;
  cursor: pointer;
  border: none;
  background: none;
  padding: 0;
}

.action-button:hover {
  text-decoration: none;
}

.action-button > .icon {
  width: 24px;
  height: 24px;
  padding: 6px;
  border-radius: 12px;
  background-color: transparent;
  text-align: center;
  color: var(--color-primary);
}

@keyframes pop {
  0% {
    transform: scale(0) rotate(90deg);
  }
  65% {
    transform: scale(1.25) rotate(0deg);
  }
  100% {
    transform: scale(1);
  }
}

.action-button:focus > .icon,
.action-button:hover > .icon {
  background-color: var(--color-accent);
  color: var(--page-background);
  animation: 500ms pop 1 ease;
}

.action-button > .label {
  margin-left: 5px;
  font-weight: 500;
  color: var(--page-text-color);
}

.action-button:focus > .label,
.action-button:hover > .label {
  color: var(--color-accent);
}

/* ::::: action button group ::::: */

.group-ab {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  list-style: none;
}

.group-ab > li {
  font-size: 19.2px;
}

.group-ab > li:not(:last-child) {
  margin-right: 0.5em;
}

@media screen and (max-width: 620px) {
  @media screen and (min-width: 285px) {
    @supports (display: grid) {
      .group-ab {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0.5em;
      }
    }
  }
  .group-ab {
    flex-direction: column;
    justify-content: normal;
  }
  .group-ab > li:not(:last-child) {
    margin-bottom: 5px;
    margin-right: 0;
  }
  .group-ab .action-button {
    flex-direction: row;
  }
  .group-ab .action-button > .label {
    margin-left: 0.5em;
  }
}

/* ::::: table ::::: */

table {
  background-color: #000000;
  border: 1px solid var(--color-primary);
  width: 100%;
}

th, td {
  border: 1px solid var(--color-primary);
  width: 50%;
  padding: 0.5em;
}

th {
  background-color: var(--color-accent);
}

/* ::::: cards ::::: */

.card {
  display: flex;
  margin: 1em 0;
  padding: 1em;
  border-radius: 24px;
  background: var(--color-secondary);
  box-shadow: 0 5px 15px 1px rgba(0, 0, 0, 0.03);
  color: #000;
  gap: 1em;
}

/* Fallback for browsers that don't support the gap property */
@supports not (gap: 1em) {
  .card > .card-preview {
    margin-right: 1em;
  }
}

.card > .card-detail > .card-header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media screen and (max-width: 425px) {
  .card > .card-detail > .card-header {
    flex-direction: column;
  }
}

.card-preview-placeholder,
.card > .card-profile img,
.card > .card-preview img {
  width: 200px;
  height: 200px;
  border-radius: 24px;
  background: #FFFFFF;
}

.card-preview-placeholder.missing {
  background: #F0F0F0;
}

.card > .card-preview img {
  cursor: pointer;
  transition: opacity 1s, filter 500ms, transform 500ms;
  opacity: 1;
  object-position: center center;
  object-fit: cover;
}

.card > .card-preview img:not(.loading):hover {
  filter: brightness(0.8);
  transform: scale(1.05);
}

.card > .card-preview img.loading {
  cursor: auto;
  opacity: 0;
}

@media screen and (max-width: 596.5px) {
  .card {
    flex-direction: column;
    align-items: center;
  }
  .card > .card-preview {
    order: 2;
  }

  .card-preview-placeholder,
  .card > .card-preview img {
    height: auto;
    width: auto;
    max-width: 100%;
  }
}

/**/

.header-link {
  display: flex;
  font-size: 1.5em;
  font-weight: bold;
  text-decoration: none;
  align-items: center;
}

.header-link > .link-icon {
  margin-left: 0.25em;
}

.header-link:hover {
  color: var(--color-accent);
  text-decoration: underline;
}

/* ::::: throbber ::::: */

body[data-loaded="true"] .cardset-loader {
  display: none;
}

.card.phs {
  height: 200px;
}

@keyframes phs-position {
  0% {
    background-position: -800px 0
  }
  100% {
    background-position: 800px 0
  }
}

.phs {
  animation-duration: 1.25s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: phs-position;
  animation-timing-function: linear;
  background: #eeeeee;
  background: linear-gradient(to right, #eeeeee 10%, #dddddd 18%, #eeeeee 33%);
  background-size: 800px 100px;
}

/* ::::: responsive design ::::: */

#section-front-page {
  animation: 500ms slide ease;
  min-height: 300px;
}
