/* ::::: primary ::::: */

:root {
  --color-primary: #000000;
  --color-secondary: #e1f1ff;
  --color-accent: #0b57cf;
  --card-background-normal: #f8fafd;
  --card-background-hover: var(--color-secondary);
  --page-background: #fdfdfd;
  --page-background-alternate: #fafafa;
  --page-header-color: #000000;
  --page-text-color: #000;
  --page-font: "Overpass", "Red Hat Display", "Helvetica", "Segoe UI", "Roboto", sans-serif;
  --max-distance: 62.5rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-primary: #ffffff;
    --color-secondary: #181818;
    --color-accent: #ffffff;
    --card-background-normal: #28292A;
    --page-background: #000000;
    --page-background-alternate: #181818;
    --page-header-color: #ffffff;
    --page-text-color: #cccccc;
  }
}

html {
  font-family: var(--page-font);
  background: var(--page-background);
  color: var(--page-text-color);
  scroll-behavior: smooth;
}

@keyframes slide {
  from {
    opacity: 0.001;
    transform: scale(0.001) translateY(-500px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

body {
  margin: 0;
}

a[href] {
  color: var(--color-accent);
  text-decoration: none;
  font-weight: 600;
}

a[href]:not([class]):focus,
a[href]:not([class]):hover {
  color: var(--color-secondary);
  background: var(--color-accent);
  box-shadow: var(--color-accent) 0 0 0 2px;
}

.iconify.lha {
  position: relative;
  bottom: -2px;
}

hr {
  border: 1px solid var(--color-primary);
}

h1, h2, h3, h4 {
  color: var(--page-header-color);
  text-transform: uppercase;
  margin: 0.5em 0;
}

h1 {
  font-weight: 900;
  font-size: 2.5em;
}

span.title {
  text-transform: uppercase;
  font-size: 3em;
  font-weight: 900;
}

span.subtitle {
  text-transform: uppercase;
  font-size: 1.3em;
  font-weight: 700;
  margin-bottom: 0.5em;
}

.image {
  margin: 0.5em;
}

.fw-bold {
  font-weight: bold;
}

.mono {
  font-family: monospace;
}

.separator {
  height: 2px;
  background-color: rgba(0, 0, 0, 0.1);
  margin: 2em 0;
}

.separator-inline {
  margin: 2em 0;
}

/* ::::: Content: Box Layout ::::: */

.content-layout {
  position: relative;
  margin: auto;
  padding: 10px;
  max-width: var(--max-distance);
}

.content-layout.center {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.bg.cl {
  background-size: 800% 800%;
  background-attachment: fixed;
  border-radius: 24px;
  margin: 10px;
  animation: cl-gradient 30s ease infinite;
}

.bg.cl1 {
  background: var(--page-background-alternate);
}

.bg.cl > .full {
  height: calc(100vh - 40px);
}

.full {
  height: 100vh;
}

/* ::::: buttons ::::: */

.button {
  display: flex;
  font-family: inherit;
  font-size: inherit;
  border: 1px solid var(--color-accent);
  background-color: var(--color-accent);
  color: var(--color-secondary);
  text-decoration: none;
  padding: 0.5em 1em;
  border-radius: 9999em;
  transition: filter 200ms;
  align-items: center;
  justify-content: center;
}

.button:hover,
.button:focus {
  filter: brightness(1.2);
}

.button:focus {
  border-color: var(--color-primary);
}

/* ::::: action buttons ::::: */

.action-button {
  display: flex;
  align-items: center;
  flex-direction: row;
  color: inherit;
  text-decoration: none;
  border-bottom-style: none;
  cursor: pointer;
  border: none;
  background: none;
  padding: 0;
}

.action-button:hover {
  text-decoration: none;
}

.action-button > .icon {
  width: 24px;
  height: 24px;
  padding: 6px;
  border-radius: 12px;
  background-color: transparent;
  text-align: center;
  color: var(--color-primary);
}

@keyframes pop {
  0% {
    transform: scale(0) rotate(90deg);
  }
  65% {
    transform: scale(1.25) rotate(0deg);
  }
  100% {
    transform: scale(1);
  }
}

.action-button:focus > .icon,
.action-button:hover > .icon {
  background-color: var(--color-accent);
  color: var(--page-background);
  animation: 500ms pop 1 ease;
}

.action-button > .label {
  margin-left: 5px;
  font-weight: 500;
  color: var(--page-text-color);
}

.action-button:focus > .label,
.action-button:hover > .label {
  color: var(--color-accent);
}

/* ::::: action button group ::::: */

.group-ab {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  list-style: none;
}

.group-ab > li {
  font-size: 19.2px;
}

.group-ab > li:not(:last-child) {
  margin-right: 0.5em;
}

@media screen and (max-width: 620px) {
  @media screen and (min-width: 285px) {
    @supports (display: grid) {
      .group-ab:not(.nav-main) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0.5em;
      }
    }
  }
  .group-ab {
    flex-direction: column;
    justify-content: normal;
  }
  .group-ab > li:not(:last-child) {
    margin-bottom: 5px;
    margin-right: 0;
  }
  .group-ab .action-button {
    flex-direction: row;
  }
  .group-ab .action-button > .label {
    margin-left: 0.5em;
  }
}

/* ::::: table ::::: */

table {
  background-color: #000000;
  border: 1px solid var(--color-primary);
  width: 100%;
}

th, td {
  border: 1px solid var(--color-primary);
  width: 50%;
  padding: 0.5em;
}

th {
  background-color: var(--color-accent);
}

/* ::::: cards ::::: */

.cardset.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5em;
}

.cardset.grid .card {
  margin: 0;
  flex-direction: column;
}

.card-anchor {
  display: block;
  font-weight: inherit;
  background: var(--card-background-normal);
  transition: background 150ms, box-shadow 150ms, border-radius 200ms;
  border: 2px solid transparent;
  border-radius: 24px;
}

.card-anchor:focus,
.card-anchor:hover {
  background: var(--card-background-hover);
  box-shadow: 0 5px 15px 1px rgba(0, 0, 0, 0.03);
  text-decoration: inherit;
}

.card-anchor:hover:active,
.card-anchor:focus {
  border-radius: 48px;
}

.card-anchor > .card > .card-preview img,
.card-anchor .card-preview-placeholder {
  transition: border-radius 150ms;
}

.card-anchor:hover:active > .card > .card-preview img,
.card-anchor:focus > .card > .card-preview img,
.card-anchor:hover:active .card-preview-placeholder,
.card-anchor:focus .card-preview-placeholder {
  border-top-left-radius: 48px;
  border-top-right-radius: 48px;
}

.card-anchor:focus {
  outline: 0;
}

.card-anchor:focus:is(:hover, :not(:hover:active)) {
  border-color: var(--color-primary);
}

.card {
  display: flex;
  margin: 1em 0;
  border-radius: 24px;
  color: var(--page-text-color);
}

/* FIXME: Preserve old card style for non-grid card parent */
:is(#section-contact, #section-about) .card {
  gap: 1em;
}

/* Fallback for browsers that don't support the gap property */
@supports not (gap: 1em) {
  .card > .card-preview {
    margin-right: 1em;
  }
}

.cardset.grid .card > .card-detail {
  margin: 1em;
  width: calc(100% - (1em * 2));
}

.box-sb {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media screen and (max-width: 425px) {
  .box-sb {
    flex-direction: column;
  }
}

.card-preview-placeholder,
.card > .card-profile img,
.card > .card-preview img {
  width: 200px;
  height: 200px;
  border-radius: 24px;
  background: var(--color-secondary);
}

.card-preview-placeholder,
.card > .card-preview img {
  height: 200px;
  width: 100%;
}

.card-preview-placeholder.missing {
  background: #F0F0F0;
}

.card > .card-preview img {
  transition: opacity 1s ease-in;
  opacity: 1;
  object-position: center center;
  object-fit: contain;
}

.card > .card-preview img.loading {
  opacity: 0;
}

.preview-icon-box {
  cursor: pointer;
  position: relative;
  width: 16px;
  height: 16px;
  top: -5%;
  left: calc(50% - 16px);
  background: var(--color-accent);
  color: var(--color-secondary);
  border: 4px solid var(--color-secondary);
  padding: 8px;
  border-radius: 9999em;
  z-index: 2;
  transition: filter 250ms;
}

.preview-icon-box:hover {
  filter: brightness(1.2);
}

@media screen and (max-width: 767px) {
  .cardset.grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  #section-about .card {
    flex-direction: column;
    align-items: center;
  }

  .preview-icon-box {
    display: none;
  }
}

/**/

.header-link {
  display: flex;
  font-size: 1.5em;
  font-weight: bold;
  text-decoration: none;
  align-items: center;
}

/* ::::: content: project details ::::: */

#details-subhead {
  font-size: 1.25em;
  margin-bottom: 1em;
}

#details-actions {
  display: flex;
  align-items: center;
  gap: 1em;
}

/* ::::: glide ::::: */

.glide .glide__arrow {
  opacity: 0;
}

.glide:hover .glide__arrow {
  opacity: 1;
}

.glide__arrow {
  position: absolute;
  display: block;
  top: 50%;
  z-index: 2;
  color: var(--page-text-color);
  text-transform: uppercase;
  padding: 10px 12px;
  font-size: 2em;
  background-color: var(--card-background-normal);
  border: none;
  border-radius: 99999em;
  box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.1);
  text-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: opacity 150ms ease, border 300ms ease-in-out;
  transform: translateY(-50%);
  line-height: 1;
}

.glide__arrow:focus {
  outline: none;
}

.glide__arrow--left {
  left: 0.5em;
}

.glide__arrow--right {
  right: 0.5em;
}

.glide__arrow--disabled {
  opacity: 0;
}

.glide--swipeable {
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

.glide--dragging {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

body:not([data-loaded]) .glide__slide {
  visibility: hidden;
}

.glide__slide {
  width: 0px;
  max-height: 300px;
  border-radius: 1em;
  object-position: center center;
  object-fit: cover;
}

.glide__slides > li {
  display: flex;
  justify-content: center;
  align-items: center;
}

.glide__slides {
  list-style: none;
}

/* ::::: throbber ::::: */

body[data-loaded="true"] .cardset-loader {
  display: none;
}

.card.phs {
  height: 200px;
}

@keyframes phs-position {
  0% {
    background-position: -800px 0
  }
  100% {
    background-position: 800px 0
  }
}

.phs {
  animation-duration: 1.25s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: phs-position;
  animation-timing-function: linear;
  background: #eeeeee;
  background: linear-gradient(to right, #eeeeee 10%, #dddddd 18%, #eeeeee 33%);
  background-size: 800px 100px;
}

/* ::::: responsive design ::::: */

#section-front-page {
  animation: 500ms slide ease;
  min-height: 300px;
}
