/* ::::: primary ::::: */

:root {
  --color-primary: #33FF33;
  --color-accent: #33FF33;
  --card-background-normal: #231f20;
  --card-background-hover: #33FF3338;
  --page-background: #000000;
  --page-background-alternate: #33FF33;
  --page-header-color: #33FF33;
  --page-text-color: #ffffffff;
  --page-font: "Inter", "Helvetica", "Roboto", sans-serif;
  --hero-background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='100%25' width='100%25'%3E%3Cdefs%3E%3Cpattern id='doodad' width='200' height='200' viewBox='0 0 40 40' patternUnits='userSpaceOnUse' patternTransform='rotate(135)'%3E%3Crect width='100%25' height='100%25' fill='rgba(51, 255, 51,1)'/%3E%3Cpath d='M0 20l21-20v2L0 22z' fill='rgba(0, 230, 0,1)'/%3E%3Cpath d='M21 0L40 20v2L21 2zM-19 0L0 20v2L-19 2z ' fill='rgba(51, 255, 51,1)'/%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23doodad)' height='200%25' width='200%25'/%3E%3C/svg%3E ");
  --max-distance: 62.5rem;
}

@media (prefers-color-scheme: light) {
  :root {
    --color-primary: #000000ff;
    --color-accent: #000000ff;
    --card-background-normal: #f0f0f0;
    --card-background-hover: #86868638;
    --page-background: #ffffff;
    --page-background-alternate: #000000ff;
    --page-header-color: #000000ff;
    --page-text-color: #000000ff;
    --hero-background: #ffffff;
  }

  .bg.cl1.cl1o {
    color: var(--page-text-color);
  }
}

html {
  font-family: var(--page-font);
  background: var(--page-background);
  color: var(--page-text-color);
  scroll-behavior: smooth;
  scrollbar-color: var(--color-primary) var(--page-background);
}

body {
  margin: 0;
}

a[href] {
  color: var(--color-primary);
  text-decoration: none;
  font-weight: 600;
  position: relative;
}

a[href]:not([class])::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 2px;
  width: 0;
  height: 2px;
  background-color: var(--color-primary);
  transition: width 0.3s ease;
}

a[href]:not([class]):focus::after,
a[href]:not([class]):hover::after {
  width: 100%;
}

a[href] > .iconify {
  position: relative;
  bottom: -2px;
}

hr {
  border: 1px solid var(--color-primary);
}

h1, h2, h3, h4 {
  color: var(--page-header-color);
  text-transform: uppercase;
  margin: 0.5em 0;
}

h1 {
  border-top: 8px solid var(--page-header-color);
  padding-top: 0.25em;
  font-weight: 900;
  font-size: 2.5em;
}

h2 {
  border-left: 8px solid var(--page-header-color);
  padding-left: 0.5em;
}

span.title {
  font-size: 4em;
  font-weight: 900;
}

span.title.term {
  color: var(--color-primary);
  font-style: normal;
}

span.subtitle {
  text-transform: uppercase;
  font-size: 1.3em;
  font-weight: 700;
}

.image {
  margin: 0.5em;
}

.fw-bold {
  font-weight: bold;
}

.mono {
  font-family: monospace;
}

.separator {
  height: 2px;
  background-color: rgba(0, 0, 0, 0.1);
  margin: 2em 0;
}

.separator-inline {
  margin: 2em 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/* ::::: Content: Box Layout ::::: */

.content-layout {
  position: relative;
  margin: auto;
  padding: 10px;
  max-width: var(--max-distance);
}

.center {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.center-v {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.bg.cl {
  margin: 1em;
  border-radius: 24px;
}

.bg.cl1 {
  background: var(--hero-background);
  color: var(--page-background);
  padding: 1em;
}

.bg.cl > .full {
  height: calc(100vh - 40px);
}

.full {
  height: 100vh;
}

/* ::::: buttons ::::: */

.button {
  display: flex;
  font-family: inherit;
  font-size: inherit;
  border: 2px solid var(--color-accent);
  color: var(--color-accent);
  background: none;
  text-decoration: none;
  padding: 0.5em 1em;
  border-radius: 9999em;
  transition: filter 200ms;
  align-items: center;
  justify-content: center;
}

.button:hover,
.button:focus {
  filter: brightness(1.2);
}

.button:focus {
  border-color: var(--color-primary);
}

/* ::::: action buttons ::::: */

.action-button {
  display: flex;
  align-items: center;
  flex-direction: row;
  color: inherit;
  text-decoration: none;
  border-bottom-style: none;
  cursor: pointer;
  border: none;
  background: none;
  padding: 0;
}

.action-button:hover {
  text-decoration: none;
}

.action-button > .icon {
  width: 24px;
  height: 24px;
  padding: 6px;
  border-radius: 12px;
  background-color: transparent;
  text-align: center;
  color: var(--color-primary);
}

@keyframes pop {
  0% {
    transform: scale(0) rotate(90deg);
  }
  65% {
    transform: scale(1.25) rotate(0deg);
  }
  100% {
    transform: scale(1);
  }
}

.action-button:focus > .icon,
.action-button:hover > .icon {
  background-color: var(--color-accent);
  color: var(--page-background);
  animation: 500ms pop 1 ease;
}

.action-button > .label {
  margin-left: 5px;
  font-weight: 700;
  color: var(--color-primary);
}

.action-button:focus > .label,
.action-button:hover > .label {
  color: var(--color-accent);
}

/* ::::: action button group ::::: */

.group-ab {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  list-style: none;
}

.group-ab > li {
  font-size: 19.2px;
}

.group-ab > li:not(:last-child) {
  margin-right: 0.5em;
}

/* ::::: table ::::: */

table {
  background-color: #000000;
  border: 1px solid var(--color-primary);
  width: 100%;
}

th, td {
  border: 1px solid var(--color-primary);
  width: 50%;
  padding: 0.5em;
}

th {
  background-color: var(--color-accent);
}

/* ::::: cards ::::: */

.cardset.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2em;
}

.cardset.grid .card {
  margin: 0;
  flex-direction: column;
}

.card-anchor {
  display: block;
  font-weight: inherit;
  transform: translateY(0);
  transition: transform 200ms ease, box-shadow 200ms ease, background 200ms ease;
  border: 2px solid transparent;
  border-radius: 24px;
}

.card-anchor:focus,
.card-anchor:hover {
  background: var(--card-background-hover);
  transform: translateY(-8px);
  text-decoration: inherit;
}

.card-anchor:focus {
  outline: 0;
}

.card-anchor:focus:is(:hover, :not(:hover:active)) {
  border-color: var(--color-primary);
}

.card {
  display: flex;
  margin: 1em 0;
  color: var(--page-text-color);
}

.card-icon {
  width: 48px;
  height: 48px;
  font-size: 32px;
  margin-right: 0.5em;
  flex-shrink: 0;
  display: flex;
  align-items: start;
  justify-content: center;
}

/* FIXME: Preserve old card style for non-grid card parent */
:is(#section-contact, #section-about) .card {
  gap: 1em;
}

/* Fallback for browsers that don't support the gap property */
@supports not (gap: 1em) {
  .card > .card-preview {
    margin-right: 1em;
  }
}

.cardset.grid .card > .card-detail {
  margin: 1em;
  width: calc(100% - (1em * 2));
}

.box-sb {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media screen and (max-width: 425px) {
  .box-sb {
    flex-direction: column;
  }
}

.card-preview-placeholder,
.card > .card-profile img,
.card > .card-preview img {
  width: 200px;
  height: 200px;
  border-radius: 24px;
}

.card-preview-placeholder,
.card > .card-preview img {
  height: 200px;
  width: 100%;
}

.card-preview-placeholder.missing {
  background: #F0F0F0;
}

.card > .card-preview img {
  transition: opacity 1s ease-in;
  opacity: 1;
  object-position: center center;
  object-fit: contain;
}

.card > .card-preview img.loading {
  opacity: 0;
}

@media screen and (max-width: 767px) {
  .cardset.grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  #section-about .card {
    flex-direction: column;
    align-items: center;
  }
}

/**/

.header-link {
  display: flex;
  font-size: 1.5em;
  font-weight: bold;
  text-decoration: none;
  align-items: center;
}

/* ::::: content: project details ::::: */

#details-subhead {
  font-size: 1.25em;
  margin-bottom: 1em;
}

#details-actions {
  display: flex;
  align-items: center;
  gap: 1em;
}

/* ::::: glide ::::: */

.glide .glide__arrow {
  opacity: 0;
}

.glide:hover .glide__arrow {
  opacity: 1;
}

.glide__arrow {
  position: absolute;
  display: block;
  top: 50%;
  z-index: 2;
  color: var(--page-text-color);
  text-transform: uppercase;
  padding: 10px 12px;
  font-size: 2em;
  background-color: var(--card-background-normal);
  border: none;
  border-radius: 99999em;
  box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.1);
  text-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: opacity 150ms ease, border 300ms ease-in-out;
  transform: translateY(-50%);
  line-height: 1;
}

.glide__arrow:focus {
  outline: none;
}

.glide__arrow--left {
  left: 0.5em;
}

.glide__arrow--right {
  right: 0.5em;
}

.glide__arrow--disabled {
  opacity: 0;
}

.glide--swipeable {
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

.glide--dragging {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

body:not([data-loaded]) .glide__slide {
  visibility: hidden;
}

.glide__slide {
  width: 0px;
  max-height: 300px;
  border-radius: 1em;
  object-position: center center;
  object-fit: cover;
}

.glide__slides > li {
  display: flex;
  justify-content: center;
  align-items: center;
}

.glide__slides {
  list-style: none;
}

/* ::::: throbber ::::: */

body[data-loaded="true"] .cardset-loader {
  display: none;
}

.card.phs {
  height: 200px;
}

@keyframes phs-position {
  0% {
    background-position: -800px 0
  }
  100% {
    background-position: 800px 0
  }
}

.phs {
  animation-duration: 1.25s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: phs-position;
  animation-timing-function: linear;
  background: #eeeeee;
  background: linear-gradient(to right, #eeeeee 10%, #dddddd 18%, #eeeeee 33%);
  background-size: 800px 100px;
}

/* ::::: responsive design ::::: */

@keyframes slide {
  from {
    opacity: 0.001;
    transform: scale(0.001) translateY(-500px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.frame-slide {
  animation: 500ms slide ease;
}

@media screen and (max-width: 625px) {
  span.title {
    font-size: clamp(2.5em, 8vw, 3.5em);
  }

  span.subtitle {
    font-size: clamp(0.8em, 3vw, 1em);
  }
}
