/* ::::: primary ::::: */

:root {
  --color-primary: #000;
  --color-accent: #0267cb;
  --page-background: #fff;
  --page-text-color: #000;
  --page-font: "Red Hat Display", "Helvetica", "Segoe UI", "Roboto", sans-serif;
  --max-distance: 62.5rem;
}

html {
  font-family: var(--page-font);
  background: var(--page-background);
  color: var(--page-text-color);
}

body {
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--color-accent);
  border-bottom: 2px solid var(--color-accent);
}

a:focus,
a:hover {
  color: var(--color-primary);
  border-color: var(--color-primary);
}

hr {
  border: 1px solid var(--color-primary);
}

h1, h2, h3, h4 {
  margin: 0;
}

span.title {
  font-size: 2em;
  font-weight: 500;
  margin-bottom: 0.25em;
}

span.subtitle {
  font-size: 0.8em;
}

.image {
  margin: 0.5em;
}

.image.small {
  border-radius: 9999em;
  width: 128px;
  height: 128px;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
}

.fw-bold {
  font-weight: bold;
}

.mono {
  font-family: monospace;
}

.separator {
  height: 2px;
  background-color: rgba(0, 0, 0, 0.1);
  margin: 2em 0;
}

.separator-inline {
  margin: 2em 0;
}

/* ::::: Content: Box Layout ::::: */

.content-layout {
  position: relative;
  margin: auto;
  padding: 10px;
  max-width: var(--max-distance);
}

.content-layout.center {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.bg.wb {
  border: 1px solid var(--color-primary);
  background-color: var(--color-accent);
  border-radius: 0.5em;
}

.bg.cl1 {
  background: var(--color-accent);
  color: #fff;
}

.content-layout.full {
  height: 100vh;
  padding: 0;
}

/* ::::: buttons ::::: */

.button {
  display: block;
  border: 1px solid var(--color-primary);
  background-color: var(--color-accent);
  text-decoration: none;
  padding: 0.5em;
  border-radius: 0.5em;
}

.button:hover:not(:focus) {
  text-decoration: underline;
}

.button:focus {
  background-color: var(--color-primary);
  color: var(--color-accent);
}

/* ::::: action buttons ::::: */

.action-button {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: inherit;
  text-decoration: none;
  border-bottom-style: none;
  cursor: pointer;
  border: none;
  background: none;
  padding: 0;
}
  
.action-button > .icon {
  width: 24px;
  height: 24px;
  padding: 6px;
  border-radius: 99999em;
  background-color: var(--color-primary);
  text-align: center;
  color: var(--page-background);
  transition: width 500ms, height 500ms, padding 200ms, background-color 150ms;
}

.action-button:focus > .icon,
.action-button:hover > .icon {
  background-color: var(--color-accent);
}

.action-button > .label {
  transition: font-size 500ms;
  color: var(--page-text-color);
}

.action-button:focus > .label,
.action-button:hover > .label {
  color: var(--color-accent);
}

/* ::::: action button group ::::: */

.group-ab {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  list-style: none;
}

.group-ab > li {
  font-size: 19.2px;
}

.group-ab > li:not(:last-child) {
  margin-bottom: 0.5em;
  margin-right: 0.5em;
}

@media screen and (min-width: 620px) {
  .action-button:focus > .icon,
  .action-button:hover > .icon {
    width: 32px;
    height: 32px;
    padding: 12px;
  }

  .group-ab .action-button > .label {
    font-size: 0;
  }

  .group-ab .action-button:focus > .label,
  .group-ab .action-button:hover > .label {
    font-size: 1em;
  }
}

@media screen and (max-width: 620px) {
  @media screen and (min-width: 285px) {
    @supports (display: grid) {
      .group-ab {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0.5em;
      }
    }
  }
  .group-ab {
    flex-direction: column;
    justify-content: normal;
  }
  .group-ab > li:not(:last-child) {
    margin-bottom: 5px;
    margin-right: 0;
  }
  .group-ab .action-button {
    flex-direction: row;
  }
  .group-ab .action-button > .label {
    margin-left: 0.5em;
  }
}

/* ::::: navigation ::::: */

#navigation {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  align-items: center;
  justify-content: center;
}

#navigation > li:not(:last-child) {
  margin-right: 1em;
}

/* ::::: table ::::: */

table {
  background-color: #000000;
  border: 1px solid var(--color-primary);
  width: 100%;
}

th, td {
  border: 1px solid var(--color-primary);
  width: 50%;
  padding: 0.5em;
}

th {
  background-color: var(--color-accent);
}

/* ::::: cards ::::: */

.card {
  display: flex;
  margin: 1em 0;
  padding: 1em;
  border-radius: 12px;
  background: var(--page-background);
  color: #000;
  gap: 1em;
}

/* Fallback for browsers that don't support the gap property */
@supports not (gap: 1em) {
  .card > .card-preview {
    margin-right: 1em;
  }
}

.card > .card-detail > .card-header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media screen and (max-width: 425px) {
  .card > .card-detail > .card-header {
    flex-direction: column;
  }
}

.card-preview-placeholder,
.card > .card-preview img {
  width: 200px;
  height: 200px;
  border-radius: 16px;
  background: #FFFFFF;
}

.card-preview-placeholder.missing {
  background: #F0F0F0;
}

.card > .card-preview img {
  cursor: pointer;
  transition: opacity 1s;
  opacity: 1;
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.1);
  object-position: left center;
  object-fit: contain;
}

.card > .card-preview img.loading {
  cursor: auto;
  opacity: 0;
}

@media screen and (max-width: 596.5px) {
  .card {
    flex-direction: column;
    align-items: center;
  }
  .card > .card-preview {
    order: 2;
  }

  .card-preview-placeholder,
  .card > .card-preview img {
    height: auto;
    width: auto;
    max-width: 100%;
  }
}

/**/

.header-link {
  display: flex;
  font-size: 1.5em;
  font-weight: bold;
  text-decoration: none;
  align-items: center;
  border-bottom: 3px dotted transparent;
  transition: border-color 200ms;
}

.header-link > .link-icon {
  margin-left: 0.25em;
}

.header-link:hover {
  color: var(--color-accent);
  border-color: var(--color-accent);
}

/* ::::: throbber ::::: */

body[data-loaded="true"] .cardset-loader {
  display: none;
}

.card.phs {
  height: 200px;
}

@keyframes phs-position {
  0% {
    background-position: -800px 0
  }
  100% {
    background-position: 800px 0
  }
}

.phs {
  animation-duration: 1.25s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: phs-position;
  animation-timing-function: linear;
  background: #eeeeee;
  background: linear-gradient(to right, #eeeeee 10%, #dddddd 18%, #eeeeee 33%);
  background-size: 800px 100px;
}

/* ::::: responsive design ::::: */

#section-front-page {
  min-height: 300px;
}
